<div class="col">
  <div class="card">
    <div class="card-header bg-primary">
      <strong style="color: white;">Date: <%= key %></strong>
    </div>

    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item financials-header">Assets</li>
        <li class="list-group-item financials-sub-header">Current Assets</li>
        <li class="list-group-item financials-item">Cash</li>
        <li class="list-group-item financials-sub-item">Cash and cash equivalents: <%= currency(value["cash"]) %></li>
        <li class="list-group-item financials-sub-item">Other short-term investments: <%= currency(value["shortTermInvestments"]) %></li>
        <li class="list-group-item financials-sub-item">Total cash: <%= currency(value["cashAndShortTermInvestments"]) %></li>
        <li class="list-group-item financials-item">Net receivables: <%= currency(value["netReceivables"]) %></li>
        <li class="list-group-item financials-item">Inventory: <%= currency(value["inventory"]) %></li>
        <li class="list-group-item financials-item">Other Current Assets: <%= currency(value["otherCurrentAssets"]) %></li>
        <li class="list-group-item financials-item">Total Current Assets: <%= currency(value["totalCurrentAssets"]) %></li>
        <li class="list-group-item financials-sub-header">Non-Current Assets: <%= currency(value["nonCurrentAssetsTotal"]) %></li>
        <li class="list-group-item financials-item">Property, Plant and Equipment: <%= currency(value["propertyPlantEquipment"]) %></li>
        <li class="list-group-item financials-item">Other Non-Current Assets: <%= currency(value["nonCurrrentAssetsOther"]) %></li>
        <li class="list-group-item financials-item">Total Non-Current Assets: <%= currency(value["nonCurrentAssetsTotal"]) %></li>
        <li class="list-group-item financials-header">Total Assets: <%= currency(value["totalAssets"]) %></li>

        <br/>
        <li class="list-group-item financials-header">Liabilities and Stockholder's Equity</li>
        <li class="list-group-item financials-sub-header">Liabilities</li>
        <li class="list-group-item financials-item">Current Liabilities</li>
        <li class="list-group-item financials-sub-item">Current Debt: <%= currency(value["shortTermDebt"]) %></li>
        <li class="list-group-item financials-sub-item">Accounts Payable: <%= currency(value["accountsPayable"]) %></li>
        <li class="list-group-item financials-sub-item">Other Current Liabilities: <%= currency(value["otherCurrentLiab"]) %></li>
        <li class="list-group-item financials-sub-item">Total Current Liabilities: <%= currency(value["totalCurrentLiabilities"]) %></li>
        <li class="list-group-item financials-item">Non-Current Liabilities</li>
        <li class="list-group-item financials-sub-item">Long-Term Debt: <%= currency(value["longTermDebt"]) %></li>
        <li class="list-group-item financials-sub-item">Other Non-Current Liabilities: <%= currency(value["nonCurrentLiabilitiesOther"]) %></li>
        <li class="list-group-item financials-sub-item">Total Non-Current Liabilities: <%= currency(value["nonCurrentLiabilitiesTotal"]) %></li>
        <li class="list-group-item financials-sub-item">Total Liabilities: <%= currency(value["totalLiab"]) %></li>
        <li class="list-group-item financials-sub-header">Stockholder's Equity</li>
        <li class="list-group-item financials-item">Common Stock</li>
        <li class="list-group-item financials-item">Retained Earnings: <%= currency(value["retainedEarnings"]) %></li>
        <li class="list-group-item financials-item">Common Stock: <%= currency(value["commonStock"]) %></li>
        <li class="list-group-item financials-item">Accumulated Other Income: <%= currency(value["accumulatedOtherComprehensiveIncome"]) %></li>
        <li class="list-group-item financials-item">Total Stockholder's Equity: <%= currency(value["totalStockholderEquity"]) %></li>
        <li class="list-group-item financials-header">Total Liabilities and Stockholder Equity: <%= currency(value["liabilitiesAndStockholdersEquity"]) %></li>
      </ul>
    </div>
  </div>
</div>