<%= render partial: 'stocks/stocks_breadcrumb', locals: {stock: @stock} %>

<div class="card">
  <%= render partial: 'stocks/card_header', locals: {stock: @stock} %>  

  <div class="card-body">
    <div style="display: flex; justify-content: space-around;">
      <h4>Rating (mean): <%= @analyst_ratings["Rating"].round(2) %></h4>
      <h4>Rating (median): <%= median_analyst_rating(@analyst_ratings) %></h4>
      <h4>Target Price: $<%= @analyst_ratings["TargetPrice"].round(2) %></h4>
    </div>

    <div class="chart-container" data-controller="analyst-ratings">
      <canvas 
        data-analyst-ratings-target="ratingsChart"
        id="ratingsChart" 
        width="100%" 
        height="100" 
        data-ratings-labels="[1, 2, 3, 4, 5]" 
        data-ratings="[<%= @analyst_ratings["StrongSell"] %>, <%= @analyst_ratings["Sell"] %>, <%= @analyst_ratings["Hold"] %>, <%= @analyst_ratings["Buy"] %>, <%= @analyst_ratings["StrongBuy"] %>]" 
      >
      </canvas>
    </div>
  </div>
</div>
