<p style="color: green"><%= notice %></p>

<h1>Stocks</h1>

<div class="col-2 mb-4">
  <label for="cars">Apply Scan:</label>

  <select name="cars" id="cars" class="form-control">
    <option value="none">None</option>
    <%= @scans.each do |scan| %>
      <option value="<%= scan.title %>"><%= scan.title %></option>
    <% end %>
  </select>
</div>
 
<div>
  <%= render "stocks", stocks: @stocks %>
</div>