<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @stock %>" class="card">
  <%= render partial: 'stocks/card_header', locals: {stock: @stock} %> 

  <div class="card-body">
    <img src=<%= "https://eodhistoricaldata.com/img/logos/US/#{@stock.general["Code"].downcase}.png" %>>
    <h3>Sector: <%= @stock.general["Sector"] %></h3>
    <br/>
    <h3>Industry: <%= @stock.general["Industry"] %></h3>
    <br/>
    <h3>Subindustry: <%= @stock.general["GicSector"] %></h3>
    <br/>
    <p class="card-text">Description: <%= @stock.general["Description"] %></p>
    <br/>
  </div>
</div>

<div>
  <%= link_to "Back to stocks", stocks_path %>
</div>
