<p style="color: green"><%= notice %></p>

<ul class="breadcrumb">
  <%= link_to "Home", root_path %>
  <%= link_to "Stocks", stocks_path %>
  <%= link_to @stock.general["Code"], stock_path(@stock) %>
</ul>

<div id="<%= dom_id @stock %>" class="card">
  <%= render partial: 'stocks/card_header', locals: {stock: @stock} %> 

  <div class="card-body">
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
      {
      "symbol": "<%= @stock.general["Code"] %>",
      "width": "100%",
      "locale": "en",
      "colorTheme": "light",
      "isTransparent": true
    }
      </script>
    </div>

    <br/>
    <div style="display: flex; justify-content: space-around;">
      <h5>Sector: <%= @stock.general["Sector"] %></h5>
      <br/>
      <h5>Industry: <%= @stock.general["Industry"] %></h5>
      <br/>
      <h5>Subindustry: <%= @stock.general["GicSector"] %></h5>
      <br/>
    </div>
    <br/>
      <p class="card-text">Description: <%= @stock.general["Description"] %></p>
    <br/>
    <br/>

    <h4>Altman Z-Score</h4>
    <%= z_score(@stock).round(2) %>
    <% @left = z_score(@stock) < 4 ? z_score(@stock) : 7 %>
    <div class="z-score-container">
      <div class="z-score" style="left: <%= @left * 50 %>px"></div>
      <div class="z-score-section z-score-red">0 - 1.8</div>
      <div class="z-score-section z-score-grey">1.9 - 3</div>
      <div class="z-score-section z-score-green">>3</div>
    </div>

    <div class="chart-container" data-controller="show" data-show-ticker-value="<%= @stock.general["Code"] %>">
      <div class="tradingview-widget-container">
        <div id="tradingview_b5f99"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    </div>
  </div>
</div>

<div>
  <%= link_to "Back to stocks", stocks_path %>
</div>
