<div id="<%= dom_id scan %>">
  <p>
    <strong>Title:</strong>
    <%= scan.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= scan.description %>
  </p>

  <p>
    <strong>Quarterly earnings:</strong>
    <%= scan.quarterly_earnings %>
  </p>

  <p>
    <strong>Yearly earnings:</strong>
    <%= scan.yearly_earnings %>
  </p>

</div>
